{% extends "layout.html" %}
{% block body %}
<div class=moviegrid>
    {% for movie in movies %}
        <div class="moviegnette" style="background: url(&quot;cache/{{ movie.img_name }}&quot;);">
            <div class="stripe corner-stripe"></div>
            <a href="{{ movie.link }}"><p class="corner-text-left">{{ movie.seeders}}</p></a>
            <a href="{{ movie.link }}"><p class="corner-text-right">{{ movie.leechers}}</p></a>
            <a href="{{ movie.imdb_url }}"><p class="bottom-text-1-2 hidden">Details</p></a>
            <a href="{{ movie.magnet }}"><p class="bottom-text-2-2 hidden">Download</p></a>
        </div>
    {% else %}
        <em>Nothing here...</em>
    {% endfor %}
</div>
{% endblock %}
